@page
@model Mission7.Pages.OrderConfirmationModel
@{
}
<div class="text-center">Thanks for your order! You should be receiving a confirmation email soon.</div><br />
<a class="btn btn-primary" asp-controller="Home">Go Home</a>