@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model LoginModel

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand m-1-2">Kyle's Bookstore</span>
        </div>
        <div class="m-1 p-1">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" asp-controller="Account" asp-action="Login">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Username"/>
                    <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>

                <input type="hidden" asp-for="ReturnURL"/>
            </form>
        </div>
    </body>
</html>